.article-div {
  position: relative;
  text-align: center;
  width: 500px
}

.article-title {
  color: red;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.article-img {
  width: 100%;
}


/* for nav bar and links inside */

nav {
  display: flex;
  gap: 30px;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #8e51e4;
  border-bottom: 1px solid #8e51e4;
  height: 50px;
}

a:hover{
  color: #8e51e4;
}

#logo{
  width: 400px;
  height:auto;
  margin-top: 10px;
}

#meme {
  width: 400px;
  height:auto;
}



.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
}



h1 {
  font-size: xx-large;
  text-align: center;
  margin-top: 2%;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  ul {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 1rem 0 0 ;
  }
  h1 > a {
    text-decoration: none;
    color: black;
  }
  button, input, label, textarea {
    display: block;
    outline: none;
  }
  label {
    margin-top: 1rem;
  }
  .error {
    color: red;
  }
  input.error, textarea.error {
    border: 1px solid red;
  }
  .form-error {
    color: red;
    background-color: lavenderblush;
    padding: 1rem;
    display: inline-block;
  }
  .form-error ul {
    list-style-type: disc;
    margin: 1rem;
    padding: 1rem;
  }
  .form-error li {
    display: list-item;
  }
  .flex-between {
    display: flex;
    justify-content: space-between;
  }
  .flex-between button {
    display: inline;
  }

  .flex-end{
    display: flex;
    justify-content: flex-end;
  }