/* article related styling */

.articles-cell {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  box-sizing: border-box;
  margin-left: 5%;
}

.article-div {
  position: relative;
  text-align: left;
  width: 400px;
  border: 2px solid #8e51e4;
  margin-top: 10px;
  overflow: hidden;
}


.article-title {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  color: white;
  position: absolute;
  margin-top: -250px;
  bottom: 55px;
  left: 16px;
  right: 16px;
  font-family: 'Tahoma';
  font-weight: bold;
  font-size: 16px;
}

.article-author-time {
  color: white;
  position: absolute;
  margin-top: -250px;
  bottom: 42px;
  left: 16px;
  right: 16px;
  font-family: 'Tahoma';
  font-size: 12px;
}

.article-preview {
  color: rgb(168, 168, 168);
  position: absolute;
  margin-top: -250px;
  bottom: -5px;
  left: 16px;
  right: 16px;
  font-family: 'Tahoma';
  font-style: italic;
  font-size: 12px;
}


.article-img {
  width: 100%;
}

.article-img-overlay {
  position: relative;
  margin-top: -254px;
  width: 400px;
  height: 250px;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), rgba(0, 0, 0, 1));
}


/* for nav bar and links inside */

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-field {
  margin-right: 5px;
}

.form-inline {
  display: flex;
}

nav {
  display: flex;
  gap: 30px;
  font-size: large;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* border-top: 2px solid #8e51e4;
  border-bottom: 2px solid #8e51e4; */
  background-color: #8e51e4;
  margin-top: 5px;
  height: 50px;
}


nav a {
  color: white;
  display: block;
  padding: 13px;


}

nav a:hover {
  background-color: #d563b0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

nav li {
  float: left;
  display: flex;
  margin: 0px;
}

#refresh-button {
  width: 150px;
  margin: auto;
  margin-top: 20px;
}

#logo {
  width: 320px;
  height: auto;
  margin-top: 10px;
  margin-bottom: -8%;
}

#meme {
  width: 400px;
  height: auto;
}



.display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
}



h1 {
  font-size: xx-large;
  text-align: center;
  margin-top: 2%;
  padding-bottom: 0px;
}



body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

ul {
  list-style-type: none;
  margin: 1rem 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 1rem 0 0;
}

h1>a {
  text-decoration: none;
  color: black;
}

button,
input,
label,
textarea {
  display: block;
  outline: none;
}

label {
  margin-top: 1rem;
}

.error {
  color: red;
}

input.error,
textarea.error {
  border: 1px solid red;
}

.form-error {
  color: red;
  background-color: lavenderblush;
  padding: 1rem;
  display: inline-block;
}

.form-error ul {
  list-style-type: disc;
  margin: 1rem;
  padding: 1rem;
}

.form-error li {
  display: list-item;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-between button {
  display: inline;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}



/*8-Puzzle*/

canvas:focus {
  border: 3px solid black;
}

canvas:not(:focus) {
  border: 1px dotted black;
}


h2 {
  padding-left: 20px;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}